name: Deployment (CD)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Koyeb CLI
        uses: koyeb/action-setup@v1
        with:
          api_key: ${{ secrets.KOYEB_TOKEN }}

      - name: Deploy to Koyeb
        run: |
          koyeb service update eshop-kurrorro/eshop-kurrorro --git-branch main